extends layout 
block layout-content 
    .main-content
        .section-hero
            img(src="/img/hero-vinyl.jpg", alt="hero" class="hero-img")
            .section-right
                .section-right-content
                    h1.shopTitle VINYL REVERIE
                    p Your ultimate destination for a curated collection of vinyl records. Discover a diverse selection from bands, indie artists, Korean R&B, and Korean hip hop!
                    button SHOP NOW
        .section-new-release 
            h3.section-title NEW RELEASES
            .new-release-container 
                a(href="/" class="vinyl-card vinyl-card-gap") 
                    .vinyl-card-img-container 
                        img(src="/img/uncounted.jpg", alt="", class="vinyl-card-img")
                    .vinyl-info
                        p.record-name uncounted 0.00 
                        p.artist-name wave to earth
                        p.price $66 USD
                a(href="/" class="vinyl-card vinyl-card-gap") 
                    .vinyl-card-img-container 
                        img(src="/img/malibunights.jpg", alt="", class="vinyl-card-img")
                    .vinyl-info
                        p.record-name Malibu Nights 
                        p.artist-name LANY
                        p.price $64 USD
                a(href="/" class="vinyl-card vinyl-card-gap") 
                    .vinyl-card-img-container 
                        img(src="/img/beingfunny.jpg", alt="", class="vinyl-card-img")
                    .vinyl-info
                        p.record-name Being Funny in a Foreign Language
                        p.artist-name The 1975
                        p.price $36 USD
                a(href="/" class="vinyl-card vinyl-card-gap") 
                    .vinyl-card-img-container 
                        img(src="/img/madness.jpg", alt="", class="vinyl-card-img")
                    .vinyl-info
                        p.record-name Madness Always Turns to Sadness
                        .record-nameprice
                            p.artist-name Tabber
                            p.price $38 USD
                a(href="/" class="vinyl-card vinyl-card-gap") 
                    .vinyl-card-img-container 
                        img(src="/img/makingsteak.jpg", alt="", class="vinyl-card-img")
                    .vinyl-info
                        p.record-name Making Steak
                        p.artist-name HYBS
                        p.price $41 USD
